@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700;900&family=Roboto:wght@300;400;700;900&display=swap');

*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none;}
body{
    font-size: 1vw;
    color: #333;
}

/* 메뉴바 */
.menu{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
.menu ul{
    position: absolute;
    right: 0;
    width: 40%;
    display: flex;
}
.menu li{
    width: 25%;
    text-align: center;
}
.menu li a{
    font: bold 1.2em/3em 'Noto Sans KR','Roboto', sans-serif;    
    color: #333;
}
/* 풀스크린 */
#wrap .section div{
    margin-top: 1%;
}
#wrap .section:nth-of-type(1){
    background: url(./image/bg1-2.svg) center/cover;
}
#wrap .section:nth-of-type(2){
    background: url(./image/bg2-2.svg) center/cover;
}
#wrap .section:nth-of-type(3){
    background: url(./image/bg2-2.svg) center/cover;
}
#wrap .section:nth-of-type(4){
    background: url(./image/bg1-2.svg) center/cover;
}
.section::-webkit-scrollbar{
    display:none;
}

/* #home 1page */
#home .bg{
    display: flex;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#home p{
    text-align: center;
    font: bold 10em/2em 'Noto Sans KR','Roboto', sans-serif;
}

/* #about 2page */
#wrap #about .profile{
    width: 90%;
    margin: auto;
    display: flex;
    margin-top: 4%;
    /* background-color: antiquewhite; */
}
.profile .left{
    width: 40%;
    position: relative;
}
.left img{
    width: 70%;
    height: auto;
    margin-left: 15%;
    border-radius: 50%;
}
.left p{
    width: 80%;
    margin-left: 10%;
    text-align: center;
    font: 400 1.5em/2em 'Noto Sans KR','Roboto', sans-serif;
}
.left p span{
    font-weight: 700;
    color: #b89dc0;
}

.profile .right{
    width: 60%;
    font: 400 .9em/2em 'Noto Sans KR','Roboto', sans-serif;
}
.about{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    position: relative;
}
.about p{
    width: 100%;
    display: flex;
    border-left: 2px solid #333;
}
.about span{
    margin-left: 1%;
    width: 15%;
    font-weight: 600;
}
.about p:nth-child(3){
    position: absolute;
    top: 25%;
    left: 50%;
}
.edu,
.work,
.skill{
    width: 100%;
    margin-bottom: 20px;
}
.about h2,
.edu h2,
.work h2,
.skill h2{
    width: 100%;
    margin-bottom: 2%;
}
.edu li,
.work li{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-left: 2px solid #333;
}
.edu span,
.work span{
    margin-left: 1%;
    width: 15%;
    font-weight: 600;
}
.skill ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.skill li{
    width: 49%;
    display: flex;
    border-left: 2px solid #333;
}
.skill p:nth-child(1){
    margin-left: 1%;
    width: 20%;
    font-weight: 600;
}
.skill .per{
    height: 2em;
    margin-top:1%;
    margin-left: 10%;
    background-color: #e7d9f0;
}