/* 메뉴바 */
.menu ul{
    width: 60%;
}
.menu li a{
    font: bold 2.5em/4em 'Noto Sans KR','Roboto', sans-serif;
}

/* 풀스크린 */
    
/* #about 2page */
#about .profile{
    margin-top: 15%;
    flex-wrap: wrap;
}
.profile .left{
    width: 50%;
}
.left img{
    width: 80%;
    margin-left: 8%;
}
.left p{
    margin-top: 5%;
    font: 400 2em/2em 'Noto Sans KR','Roboto', sans-serif;
}
.left p span{
    font-weight: 700;
    color: #b89dc0;
}

.profile .right{
    width: 50%;
    font: 400 1.5em/2em 'Noto Sans KR','Roboto', sans-serif;
    position: relative;
}

.about p:nth-child(3){
    position: unset;
}
.edu::before,
.work::before,
.skill::before{
    content: '';
    display: block;
    margin-bottom: 15%;
}
.about span,
.edu span,
.work span{
    width: 20%;
}
.skill{
    width: 160%;
    position: absolute;
    left: -79%;
    margin-top: -20%;
}